img{
    width: 5em;
}

div > #scarlett{
    max-width: 400px;
    width: 100%;
    height: auto;
}

.translation-box{
    background: white;
    margin: 5% 5%;
}

.box{
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    /* margin: 0 5%; */
    background: #191919;
}

.box input[type="text"]{
    border: 0;
    background: none;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 10px 10px;
    width: 20%;
    max-width: 25%;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.5s;
    display: block;
}

.box input[type="text"]:focus{
    width: 25%;
    border-color: #2ecc71
}

.box input[type="submit"] {
    max-width: 50%;
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer
}

.box input[type="submit"]:hover {
    background: #2ecc71
}

h3{
    color: black;
}

.translation-box{
    background: white;
    text-align: center;
    min-height: 200px;
    margin: 0 5%;
    color: black;
    border-radius: 25px;
}

ul{
    list-style:none;
    margin: auto;
}